<%- include('includes/head.ejs') %>
<body>
  <%- include('includes/navigation.ejs') %>
  <h1>Some error occured!</h1>
  <p>We are working on it, will be fixed soon, Sorry for the inconvenience!</p>
  <%- include('includes/end.ejs') %>
</body>
